h1.name {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777;
  margin: 20px 0 10px 0;
}

header {
  width: 100%;
  border-bottom: 2px solid #eee;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #777;
  margin: 20px 0 10px 0;
}

div.content {
  max-width: 600px;
  line-height: 1.7em;
  margin: auto;
  font-family: "Lato", verdana, sans-serif;
  color: #555;
}

.column {
  width: 25%;
  display: inline-block;
  float: left;
}

a.link {
  border-bottom: 1px dashed #ccc;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

p {
  margin-top: 15px;
}

img {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  mix-blend-mode: multiply;
}

a:hover {
  opacity: 1;
  z-index: 1;
}

a:hover img,
a.text img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.img {
  position: relative;
  padding: 2px;
}

.img-wrap {
  border-radius: 5px;
  background-color: #f8f8f8;
  mix-blend-mode: multiply;
  text-align: center;
}

.promo-text {
  font-size: 0.9em;
  font-weight: bold;
  color: #777;
  display: none;
  position: absolute;
  line-height: 15px;
  text-transform: uppercase;
  width: 99%;
}

.img-wrap.dark .promo-text {
  color: #f1f1f1;
  z-index: 1;
}

a:hover .promo-text,
a.text .promo-text {
  display: block;
}

/* Mobile styles */
@media screen and (max-width: 650px) {
  .column {
    width: 33%;
    display: inline-block;
    float: left;
  }
}

#work {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}

#work .img {
  /* Just in case there are inline attributes */
  height: auto !important;
}

@media screen and (min-width: 650px) {
  #work {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media screen and (max-width: 649px) {
  #work {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.header {
  display: inline-block;
}

header.title {
  float: left;
}
header.links {
  float: right;
}
