body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1.name {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #666;
  margin: 20px 0 10px 0;
}

header {
  width: 100%;
  border-bottom: 2px solid #eee;
}

h3.projects {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  margin: 20px 0 10px 0;
}

div.content {
  max-width: 600px;
  line-height: 1.7em;
  margin: auto;
  color: #555;
}

.column {
  width: 25%;
  display: inline-block;
  float: left;
}

a.external-link {
  border-bottom: 1px dashed #ccc;
  text-decoration: none;
  color: black;
}

p {
  margin-top: 15px;
}

img {
  width: 100%;
  border-radius: 4px;
  mix-blend-mode: multiply;
}

a:hover {
  opacity: 1;
  z-index: 1;
}

a:hover img,
a.text img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.img {
  position: relative;
  padding: 2px;
}

.img-wrap {
  border-radius: 5px;
  background-color: #f8f8f8;
  mix-blend-mode: multiply;
  text-align: center;
}

a:hover .img-wrap,
a.text .img-wrap {
  /*background-color: #555;*/
}

.promo-text {
  font-size: 0.9em;
  font-weight: bold;
  /*margin: 0 auto 1em;*/
  color: #777;
  padding: 5px 0;
  display: none;
  position: absolute;
  /*top: 20%;*/
  line-height: 15px;
  text-transform: uppercase;
}

.img-wrap.dark .promo-text {
  color: #f1f1f1;
  z-index: 1;
}

a:hover .promo-text,
a.text .promo-text {
  display: block;
}

#work {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;
}

#work .img {
  /* Just in case there are inline attributes */
  height: auto !important;
}

@media screen and (max-width: 550px) {
  #work {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
